@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0
}

.antd-select .ant-select-selection-item-content {
  font-size: 0.75rem;
}

.antd-select .ant-select-selection-search-input {
  font-size: 0.875rem;
}
